@charset "utf-8";

            p {
                font-family: Arial, Helvetica, sans-serif;
            }

            th {
                border: 3px solid rgb(68, 0, 255);
                padding: 7px;
            }

            h1, p {
                color: black;
                text-align: center;
                font-family: 'Times New Roman', Times, serif;
                font-style: italic;
            }

            h1 {
                font-size: 2em;
            }

            h2{
                margin-left: 90%;
    
            }

            body {
                background-image: url(point.jpg);
                background-size: cover;
                background-repeat: no-repeat;
            }
                
            a {
                display: block;
            }

                
    


